.card {
    padding: 30px !important;
    text-align: center;
    background-color: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin: 5px;
}

.statistike {
	text-align: left;
	font-size: 1.8em;
}

.imePrezime {
	font-size:1.3em;
}

.studentInfo {
	text-align: left;
}

h1 {
    margin: 0px;
}

.tabela {
	width:100%;
	padding: 3px;
	border: 2px solid black;
	border-collapse: collapse;
	font-size: 0.85em;
}

tr, th, td {
	text-align: left;
    border: 2px solid black;
}

.prvi th {
	text-align: center !important;
	background-color: #b5b6b7;
}

.prva {
	text-align: center !important;
	background-color: #b5b6b7;
}

.komentar {
	width:100%;
	margin-right: 15%;
	height:150px;
	resize:none;
}

.pagination {
	display: inline-block;
	padding: 0;
}

.pagination input[type="button"] {
	color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination input[type="button"].active {
    background-color: #4286f4;
    color: white;
    border: 1px solid #4286f4;
}

.pagination input[type="button"]:hover:not(.active) {
	background-color: #bdd5fc;
}


@media (max-width: 700px) {
  [class*="col-"] {
        width: 100% !important;
  }

  .col-7 {
  	width: 58.33% !important;
  }
  .col-5 {
  	width: 41.66% !important;
  }
  .meni ul{
    display: grid;
  }

  .meni a{
  	text-align: left !important;
  }

  .tabela {
  	font-size: 0.8em;
  }
}